/*------------------------------------*\
	FORMS
\*------------------------------------*/


input[type="text"],
input[type="email"],
input[type="telephone"] {
    width: 300px;
    padding: .3em;
    border: 1px solid #ddd;
    font-size: 15px;
    &:after {
        content: " ";
        position: absolute;
        height: 3px;
        background: red;
    }
}

label {
    display: block;
    color: #888;
}

textarea {
    border: 1px solid #ddd;
    padding: 15px;
    width: 100%;
    max-width: 600px;
    min-height: 250px;
    font-size: 15px;
}

.form_row {
    margin-bottom: 1em;
    position: relative;

    &:after {
        content: " ";
        position: absolute;
        height: 2px;
        background: $color-prim;
        width: 0%;
        max-width: 300px;
        left: 0;
        bottom: 0;
        transition: width .4s ease-out;
    }


    &.focussed:after {
        content: " ";
        position: absolute;
        height: 2px;
        background: $color-prim;
        width: 100%;
        max-width: 300px;
        left: 0;
        bottom: 0;
        //transition: width .5s;
    }
}

#msg-success {
    display: none;
    outline:1px solid $color-prim;
    padding: .6em;
}



// *** BUTTONS *** 


.btn {
    background-color: $color-prim;
    border: none;
    color: white;
    padding: .3em 1.8em;
    border-radius: 7px;
    //text-transform: lowercase;
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 1.5;
    transition: background-color .3s;

    &:hover {
        background-color: darken($color-prim, 10%);
        cursor: pointer;
    }

    // padding: .5rem 1rem;
    //font-size: 1.25rem;
    // line-height: 1.5;
    // border-radius: .3rem;
}