/*------------------------------------*\
	FORMS
\*------------------------------------*/


input[type="text"],
input[type="email"],
input[type="telephone"] {
    width: 300px;
    padding: .3em;
    border: 1px solid #ddd;
    &:after {
        content: " ";
        position: absolute;
        height: 3px;
        background: red;
    }
}

label {
    display: block;
}

textarea {
    border: 1px solid #ddd;
    padding: 15px;
    max-width: 600px;
    min-height: 250px;
}

.form_row {
    margin-bottom: 1em;
    position: relative;

    &:after {
        content: " ";
        position: absolute;
        height: 2px;
        background: $color-prim;
        width: 0%;
        max-width: 300px;
        left: 0;
        bottom: 0;
        transition: width .4s ease-out;
    }



    &.focussed:after {
        content: " ";
        position: absolute;
        height: 2px;
        background: $color-prim;
        width: 100%;
        max-width: 300px;
        left: 0;
        bottom: 0;
        //transition: width .5s;
    }
}
