/*------------------------------------*\
	HEADER
\*------------------------------------*/


.header {
    background-image: linear-gradient(to bottom, rgba(255,255,255, 1) 90%, rgba(255, 255, 255, 0));
    text-align: center;
    position: fixed;
    z-index: 200;
    width: 100%;
    height: 190px;
    padding-bottom: 25px;

    h1 {
        color: #fff;
        text-transform: lowercase;
        text-align: center;
        padding: 15px 0 15px 0;
        margin: 0 auto;
        background: url(../images/beth-oloughlin-auckland-marriage-celebrant.png) no-repeat center center;
        background-size: 259px;
        text-indent: -9999px;

        a {
            display: block;
        }
    }

    // h1 span {
    //     text-indent: -9999px;
    //     font-size: 16px;
    //     display: block;
    //     margin: 5px 0 20px 0;
    //     text-align: right;
    // }

    .header-top {
        background-color: $color-prim;
    }

    // Desktop
    @media #{$desktop} {

        height: 230px;

        h1 {
            background-size: 295px;
            padding: 20px 0 20px 0;
        }
    }
}



// Dark Strip:

.header-secondary {
    background-color: $color-header;
    border-top: 4px solid #fff;
    padding: 12px 25px;

    .content-restrict {
        display: flex;
    }

    h3, .tel {
        color: #fff;
        text-transform: uppercase;
        font-size: 12px;
        margin: 0;
        line-height: 1;
        font-weight: normal;
        letter-spacing: 1px;
        transform: translateY(1px);

        span {
            @media #{$smallmobile} {
                display: none;  // 'Auckland is hidden to keep on 1 line on phone size;
            }
        }
    }

    .tel {
        margin-left: auto;
        background: url(../images/icon-phone.svg) no-repeat left center;
        padding-left: 27px;
    }

    a {
        color: #fff;
        text-decoration: none;
    }


}
