/*------------------------------------*\
	HEADER
\*------------------------------------*/


.header {
    //background-color: white;
    //background: linear-gradient(to bottom, rgb(112, 198, 33) 100%,rgba(255,255,255,0.5) 90%,rgba(255,255,255,0) 0%);
    background-image: linear-gradient(to bottom, rgba(255,255,255, 1) 90%, rgba(255, 255, 255, 0));
    text-align: center;
    position: fixed;
    z-index: 200;
    width: 100%;
    height: 230px;
    padding-bottom: 25px;
    //outline: 1px solid;

    h1 {
        color: #fff;
        text-transform: lowercase;
        text-align: center;
        padding: 20px 0 20px 0;
        margin: 0 auto;
        //background: url(../images/beth-oloughlin-auckland-marriage-celebrant.svg) no-repeat center center;
        background: url(../images/beth-oloughlin-auckland-marriage-celebrant.png) no-repeat center center;
        background-size: 295px;
        text-indent: -9999px;
    }

    // h1 span {
    //     text-indent: -9999px;
    //     font-size: 16px;
    //     display: block;
    //     margin: 5px 0 20px 0;
    //     text-align: right;
    // }

    .header-top {
        background-color: $color-prim;
    }
}



// Dark Strip:

.header-secondary {
    background-color: $color-header;
    border-top: 4px solid #fff;
    padding: 12px 25px;

    .content-restrict {
        display: flex;
    }

    h3, .tel {
        color: #fff;
        text-transform: uppercase;
        font-size: 12px;
        margin: 0;
        line-height: 1;
        font-weight: normal;
        letter-spacing: 1px;
        transform: translateY(1px);

        span {
            @media #{$smallmobile} {
                display: none;  // 'Auckland is hidden to keep on 1 line on phone size;
            }
        }
    }

    .tel {
        margin-left: auto;
        background: url(../images/icon-phone.svg) no-repeat left center;
        padding-left: 27px;
    }

    a {
        color: #fff;
        text-decoration: none;
    }


}
