/*------------------------------------*\
	HELPERS
\*------------------------------------*/



hr {
    background: url("../images/section-divider.png") no-repeat center;
    height: 50px;
    border: none;
    margin: 40px auto 10px auto;
    max-width: 85%;

    @media #{$desktop} {
        margin: 70px 0 40px 0;
    }
}

.removePaddingBot {
    padding-bottom: 0!important;
}

// This is to prevent the <textarea> form disappearing on Android when clicked

.pos-relative {
    @media #{$mobile} {
        position: relative!important;
    }
}

.block-center {
    text-align: center;
}
