/*------------------------------------*\
	HELPERS
\*------------------------------------*/


.content-outer {
    max-width: $content-width-outer;
    margin: 0 auto;
}


.content-inner {
    max-width: $content-width-inner;
    margin: 0 auto;
}
