/*------------------------------------*\
	HELPERS
\*------------------------------------*/


.content-outer {
    max-width: $content-width-outer;
    margin: 0 auto;
}


.content-inner {
    max-width: $content-width-inner;
    margin: 0 auto;
}

hr {
    background: url("../images/section-divider.png") no-repeat center;
    height: 50px;
    border: none;
    margin: 70px 0 40px 0;
}
