/*------------------------------------*\
	IMAGES
\*------------------------------------*/


img {
    max-width: 100%;
}

.bordered {
    background: #f5f5f5;
    border: 1px solid #ccc;
    padding: 10px 10px 10px 10px;
    padding: 8px;
    box-shadow: 0 0 4px -1px #666;
}

.img-centered {
    text-align: center;
    margin: 0;
}


.hero-bottom {
    background: url("../images/couple_b&w.jpg") no-repeat center;
    background-size: cover;
    min-height: 600px;
    max-height: 600px;
}

.canz {
    transform: translateY(25px);
}