/*------------------------------------*\
	IMAGES
\*------------------------------------*/


img {
    max-width: 100%;
}

.bordered {
    background: #f5f5f5;
    border: 1px solid #ccc;
    padding: 10px 10px 10px 10px;
    padding: 8px;
    box-shadow: 0 0 4px -1px #666;
}
