/*------------------------------------*\
	NAVIGATION
\*------------------------------------*/


.nav {

    ul {
        display: flex;
        background: white;
        justify-content: center;
        padding:10px 13px 0 0;
        margin-top: 0;

        li {
            //display: inline-block;
            list-style-type: none;

            a {
                display: block;
                font-family: $font-heading;
                border-right: 1px solid #ddd;
                padding: .7em .9em;
                font-size: 13px;
                font-weight: bold;
                text-transform: uppercase;
                text-decoration: none;
                letter-spacing: 1px;
                color: inherit;
                border-bottom: 4px solid $color-prim;
                transition: all 0.2s;

                &:hover {
                    color:$color-prim;
                    transform: scale(1.06);
                }
            }

            &:nth-child(2) a { border-bottom: 4px solid lighten($color-prim, 10%); }
            &:nth-child(3) a { border-bottom: 4px solid lighten($color-prim, 15%); }

            &:last-child a {
                border-right: none;
            }

            &:before {
                content: "";
            }
        }
    }
}
