/*------------------------------------*\
	PAGES
\*------------------------------------*/


// INTRO

.intro {
    padding-top: 188px;
    position: relative;
    z-index: 100;

    h1 {
        margin-top: 2.1em;
    }
}



// ABOUT PROFILE

.profile_pic {
    float: right;
    max-width: 120px;
    transform: rotate3d(20deg);
    transform: rotate(8deg);
    margin: 20px 0 20px 20px;

    @media #{$desktop} {
        max-width: 200px;
    }
}

// SERVICES

.services {
    padding: 0 0 3em 0;

    h1 {
        //padding-top: 1.3em;
    }
}

.reading-img {
    max-width: 110px;
    float: left;
    margin: 0 25px 10px 0;
    transform: rotate(-2deg);

    @media #{$desktop} {
        max-width: 200px;
    }
}

// CONTACT

.contact {
    h1 {
        padding-top: 1.3em;
        margin-top: 0;
    }
}


// THANK YOU PAGE

.thank-you-content {
    padding-top: 173px;
    margin-bottom: 88px;
}
