/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/

// variables
$heading-1: 30px;
$heading-2: 24px;
$heading-2: 20px;


body {
    font-family: $font-body;
    line-height: 1.5;
    color: #4A4A4A;
    font-size: 16px;

    @media #{$desktop} {
        font-size: 18px;
    }
}

h1, h2, h3, h4, h5, h5 {
    font-family: $font-heading;
    font-weight: normal;
    color: $color-prim;
    text-align: center;
}

h1 {
    font-size: $heading-1;
    margin-top: 1.3em;
}

h2 {
    font-size: 30px;
    color:  black;

}

h3 {
    font-size: 25px;
}

p {
    margin-bottom: 1.2em;
}

.larger {
    font-size: 120%;
    text-align: center;

    @media #{$mobile} {
        margin: 0.5em 0 1em 0;
    }

}

a {
    text-decoration: none;
    color: $color-prim;
    
    &:hover {
        text-decoration: underline;
    }
}

// Lists 

ul {
    list-style: none;
    padding-left: 1em;
}

li::before {
  content: "• ";
  color: $color-prim; /* or whatever color you prefer */
  font-size: 30px;
  position: relative;
  top: 5px;
}


@media #{$desktop} {

    $heading-1: 37px;
    $heading-2: 30px;
    $heading-2: 25px;

    .larger {
        font-size: 188%;
    }
}


//@media (min-width: 46.25em) {

    .drop-cap {
        font-size: 5.68rem ;
        line-height: 4.75rem;
        float: left;
        display: inline-block;
        height: 4.5rem;
        padding-top: 0.0625rem;
        margin-right: 0.25rem;
        //font-family: serif;
    }

    .drop-cap__inner {
        vertical-align: text-top;
    }

//}

.back-to-top {
    text-align: center;
    padding-bottom: 2em;
    margin-bottom: 0;
}
